.book {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    margin: 2%;
    background-color: rgb(30, 30, 30);
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ffffff;
  }
  .pagination{
    display: flex;
    justify-content: center;
  }
  .pagination > button{
    background: transparent;
    color: white;
  }
  .pagination > p {
    margin: 6px;

  }
  .showData{
    width: 47%;
    padding: 13px;
  }
h2{
  color: white;
}
  .cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
  
  p {
    font-size: 20px;
    font-weight: bolder;
  }
  .DetailsBtn {
    font-size: 16px;
    position: relative;
    margin: auto;
    padding: 1em 2.5em 1em 2.5em;
    border: none;
    background: #fff;
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
   }
   
   .DetailsBtn:active {
    transform: scale(0.95);
   }
   
   .DetailsBtn span {
    color: #464646;
   }
   
   .DetailsBtn .border {
    position: absolute;
    border: 0.15em solid #fff;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 9em;
    height: 3em;
    transform: translate(-50%, -50%);
   }
   .searchBar{
    display: flex;
    justify-content: center;
    height: 120px!important;
    align-items: center;
   }
   .searchBtn{
    background-color: #9f9f9f;
   }
   .inputCover{
    display: flex;
    width: 50%;
    height: 50%;
    background: #0f152f;
    border-radius: 10px;
    border: 1.5px solid #ffffff;
    justify-content: center;
   }
   
    .search{
      width: 91%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: none;
      color: white;
      background: #0f152f;
      font-weight: 900;
      padding: 10px;
      border-radius: 10px 0px 0px 10px;
      text-align: center
    }
    .search:focus-visible {
      border: none !important;
      outline: none !important;
    }
   .DetailsBtn:hover .border {
    display: block;
    width: 9.9em;
    height: 3.7em;
   }
   
   .full-rounded {
    border-radius: 2em;
   }